@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --color-green: #0A846E;
    --color-brown: #9E6D52;
    --color-red: #B93857;
    --color-transparent-black: rgba(0, 0, 0, 0.79);

    --font-family-open-sans: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-family-maven-pro: 'Maven Pro', Arial, Helvetica, sans-serif;
    --font-family-lato: 'Lato', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family-open-sans);
    background-color: #FCF6FC;
    display: grid;
    justify-content: center;
    min-height: 100vh;
}

header, main, footer {
    width: 1000px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0px 4px 4px rgba(3, 56, 47, 0.11);
    z-index: 100;
    font-family: var(--font-family-maven-pro);
    font-weight: 500;

    & img {
        margin: 1rem;
    }

    & section.logo {
        background-image: url('./assets/potatoes-bg.jpeg');
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.20);
        display: grid;
        align-items: center;
        justify-content: center;

        & .toggle {
            display: none;
        }

        & h1 {
            color: white;
            font-size: 40px;
            font-weight: 300;
            text-align: center;
            margin-top: 0;
        }

        & img {
            margin: 2rem;
            height: 196px;
        }
    }

    & nav {
        text-align: center;
        text-transform: uppercase;
        background-color: white;

        & ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin: 0;
            padding: 0;

            & li {
                list-style-type: none;

                & a {
                    display: block;
                    padding: 1rem;
                    text-decoration: none;
                    color: var(--color-green);

                    &:hover {
                        background-color: var(--color-green);
                        color: white;
                    }
                }
            }
        }
    }
}

header.index {
    grid-template-columns: 1fr 1fr;

    & section.logo {
        grid-row-start: 1;
        grid-row-end: 3;
        background-image: url('./assets/header-bg.jpg');
    }

    & section.plant {
        background-color: var(--color-brown);
        display: grid;
        align-items: center;
        justify-content: center;

        & img {
            width: 176px;
        }
    }

    & section.dig {
        background-color: var(--color-green);
        display: grid;
        align-items: center;
        justify-content: center;

        & img {
            width: 155px;
        }
    }

    & nav {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

main {
    background-color: white;

    &> * {
        margin: 2rem;
    }

    & h1 {
        color: var(--color-green);
        text-transform: uppercase;
        font-family: var(--font-family-maven-pro);
        font-weight: 500;
        font-size: 48px;
        text-align: center;
    }

    & h2 {
        font-size: 32px;
    }

    & button {
        border: none;
        border-radius: 9px;
        color: white;
        background-color: var(--color-green);
        padding: 1rem 3rem;
        font-size: 24px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    & article.season, article.history {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    & article.season button {
        float: right;
        text-transform: uppercase;
    }

    & article.history {
        direction: rtl;

        & * {
            direction: ltr;
        }
    }
}

aside.illustration {
    background-color: var(--color-green);
    border: none;
    border-radius: 100%;
    aspect-ratio: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 405px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url('./assets/potatoes-bg.jpeg');
    background-size: cover;
    background-position: center;
    margin-bottom: 10rem;

    & section.contact {
        height: 590px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        color: white;
        background-color: var(--color-transparent-black);

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        font-family: var(--font-family-maven-pro);

        & h1 {
            font-size: 64px;
            font-weight: 500;
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 3;
            align-self: center;
        }

        & p {
            font-size: 20px;
            background-repeat: no-repeat;
            align-self: center;
            margin-top: auto;
            margin-bottom: 2rem;

            &.phone {
                text-align: left;
                background-image: url('./assets/phone.svg');
                background-position: left 2rem center;
                padding-left: 5rem;
            }

            &.email {
                text-align: right;
                background-image: url('./assets/envelope.svg');
                background-position: right 2rem center;
                padding-right: 5rem;
            }
        }
    }

    & section.logo {
        grid-column-start: 2;
        grid-column-end: 3;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    & nav {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        background-color: white;

        & a {
            display: block;
            color: black;
            text-decoration: none;
            font-size: 24px;
            width: 100%;
            padding: 1.5rem 0;

            &:hover {
                background-color: rgb(233, 233, 233);
            }
        }
    }

    & .random {
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: var(--color-brown);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        padding: 1.6rem;

        & img {
            object-fit: cover;
            width: 100%;
            aspect-ratio: 1;
        }
    }
}

.add-planting {
    display: grid;
    margin-bottom: 7rem;

    & h2 {
        font-family: var(--font-family-open-sans);
        font-weight: 200;
    }

    & fieldset {
        border: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        gap: 3rem;

        & label {
            font-size: 20px;
        }

        & input {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: none;
            border-radius: 4px;
            width: 100%;
            height: 3rem;
            font-size: 20px;
        }
    }

    & button {
        margin-top: 2rem;
        justify-self: center;
        text-transform: uppercase;
    }
}

.plantings {
    text-align: center;

    & h2 {
        font-weight: 500;
        text-align: center;
        margin: 0;
    }
}

.divider {
    &:before {
        content: "";
        display: block;
        background-color: var(--color-green);
        height: 3px;
        width: 333px;
        transform: rotateZ(-0.38deg);
        margin: 5rem auto;
    }
}

.plantings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 3rem 0;
    font-size: 0.7rem;
    gap: 2.5rem 1.5rem;
    margin-bottom: 1rem;
    text-align: left;

    & article {
        position: relative;
        color: black;
        background-color: white;
        box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;

        & figure {
            grid-column-start: 1;
            grid-column-end: 3;
            position: relative;
            width: 100%;
            margin: 0;
            padding: 0;

            & img {
                object-fit: cover;
                width: 100%;
                aspect-ratio: 1;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-image: url('./assets/plant.svg');
                background-size: 70% 70%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        & h3, date, p, button {
            margin: 1rem;
        }

        & h3 {
            font-size: 24px;
            font-weight: normal;
        }

        & date {
            justify-self: right;
            font-size: 16px;
            font-weight: bold;
        }

        & p {
            font-family: var(--font-family-lato);
            font-size: 16px;
            font-weight: lighter;
        }

        & button {
            box-shadow: none;
            justify-self: right;
            width: fit-content;
            height: fit-content;
            background-color: var(--color-red);
            font-size: 15px;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
        }
    }
}
